@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #fafbf6;
  --text: #0f0f1b;
  --primary: #565a75;
  --secondary: #c6b7be;
}

body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  background-color: var(--background);
  color: var(--text)
}